@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body{
    background-image: url("../images/blue.jpg");
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'Rampart One';
    display: block;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-style: italic;
}

.category-button {
    background-color: rgba(248,255,173,1.00);
   
}

#player-section {
  background-image: url("../images/pink.jpg");
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  overflow: hidden;
  padding: 20px;
  margin: 20px;
  width: 200px;
  height: 350px;

}

#computer-section {
    background-image: url("../images/purple.jpg");
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    overflow: hidden;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 350px;
    

  }

#start-button{
    background-color: rgba(241,173,255,1.00);
}
ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

ol{
    display: inline-block;
}

#play-button {
    display: inline-block;
    background-color: paleturquoise;
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

#funFact{
    font-size: 0.75rem;
}

#home-button{
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: rgba(173,255,200,1.00);
}