@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body{
    background-color: rgba(173,255,200,1.00);
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-family: 'Rampart One';
    display: block;

}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-style: italic;
}

.category-button {
    background-color: rgba(248,255,173,1.00);
}

#player-section {
  background-color: rgba(255,173,187,1.00);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 20px;
  margin: 20px;
  width: 200px;
  height: 350px;
}

#computer-section {
    background-color: rgba(173,228,255,1.00);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 350px;
  }

ul {
    list-style-type: none;
}

#start-button{
    background-color: rgba(241,173,255,1.00);
}